[Unit]
Description=Container for 
# an Idea: Requires=devops-check-ports.service devops-check-fs.service docker-networks.service
After={{ container_engine }}.service
[Service]
Restart=never
Type=oneshot
ExecStartPre=/usr/bin/gzip -d {{ storage_container_pre_cache }}/*gz

ExecStartPre=/bin/mv {{ storage_container_pre_cache }}
ExecStart=bash -c 'ls {{ storage_container_pre_cache }}/*tar |xargs -P2 -I@ {{ container_engine }} import @ @'
ExecStop=/bin/rm -rf {{ storage_container_pre_cache }}/*

