[Unit]
Description=Container for 
# an Idea: Requires=devops-check-ports.service devops-check-fs.service docker-networks.service
After={{ container_engine }}.service

[Service]
Restart=never
Type=oneshot
ExecStartPre=/usr/bin/gzip -d /mnt/containers/cache/*gz
ExecStartPre=/bin/mv /mnt/containers/cache/ 
ExecStart=bash -c 'ls /mnt/containers/cache/*tar |xargs -P2 -I@ {{ container_engine }} import @ @'
ExecStop=/bin/rm -rf /mnt/containers/cache/*

